    <div class="col-6">
      <h2>Add Category</h2>
      <form [formGroup]="categoryForm" #formDirective="ngForm" (ngSubmit)="addCategory(formDirective)" class="col-4">
      
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" formControlName="name" class="form-control">
          <div *ngIf="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched">
            Name is required.
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" formControlName="description" class="form-control"></textarea>
          <div *ngIf="categoryForm.get('description')?.invalid && categoryForm.get('description')?.touched">
            Description is required.
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Category</button>
      </form>
    </div>
  
<p-table [value]="categories">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        Categories
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Image</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <tr>
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>{{ category.description }}</td>
        <td>Action</td>
        <td>
            <button type="button" class="btn btn-danger" (click)="removeCategory(category.id)">Remove</button>
          </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ categories ? categories.length : 0 }} categories.
      </div>
    </ng-template>
  </p-table>
  